Repository hashicorp/vagrant, pull requests merged in 2018-08, with the labels that each got.

#10118 Allow for spaces in `path` for trigger run option
  lib/vagrant/plugin/v2/trigger.rb
  test/unit/vagrant/plugin/v2/trigger_test.rb
Labels: bug, triggers

#8912 Add IPv6 network template for OpenBSD machines
  templates/guests/openbsd/network_static6.erb
Labels: guest/openbsd, networking, pr/needs-review

#10140 Fix ansible_local provisioner permission bug
  plugins/provisioners/ansible/provisioner/guest.rb
Labels: pr/ready-for-merge, provisioner/ansible_local
