Repository hashicorp/vagrant, pull requests merged in 2018-05, with the labels that each got.

#9777 Update usage.html.md
  website/source/docs/triggers/usage.html.md
Labels: documentation, triggers

#9778 Syntax error for running remote script
  website/source/docs/triggers/index.html.md
Labels: documentation, triggers

#9841 Update CONTRIBUTING.md (and related stuff)
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE.md
  README.md
  website/README.md
Labels: documentation, enhancement

#9869 Review and Adaptation to PR #9864
  website/source/docs/provisioning/ansible_common.html.md
  website/source/docs/provisioning/ansible_local.html.md
Labels: documentation, provisioner/ansible, provisioner/ansible_local

#9879 ansible_local: Improve installation from PPA
  plugins/provisioners/ansible/cap/guest/ubuntu/ansible_install.rb
  website/source/docs/provisioning/ansible_local.html.md
Labels: guest/ubuntu, provisioner/ansible_local
