Repository hashicorp/vagrant, pull requests merged in 2019-12, with the labels that each got.

#11223 completion.sh: add more up options
  contrib/bash/completion.sh
Labels: contrib, enhancement

#11191 Don't prompt for input when installing Ansible
  plugins/provisioners/ansible/cap/guest/debian/ansible_install.rb
  plugins/provisioners/ansible/cap/guest/ubuntu/ansible_install.rb
Labels: guest/debian, pr/needs-review, provisioner/ansible_local

#11265 Fixup: ansible_local: Add `cap` bug fixes and related RSpec coverage
  plugins/provisioners/ansible/cap/guest/arch/ansible_install.rb
  plugins/provisioners/ansible/cap/guest/debian/ansible_install.rb
  plugins/provisioners/ansible/cap/guest/fedora/ansible_install.rb
  plugins/provisioners/ansible/cap/guest/freebsd/ansible_install.rb
  plugins/provisioners/ansible/cap/guest/pip/pip.rb
  plugins/provisioners/ansible/cap/guest/redhat/ansible_install.rb
  plugins/provisioners/ansible/cap/guest/suse/ansible_install.rb
  plugins/provisioners/ansible/cap/guest/ubuntu/ansible_install.rb
  test/unit/plugins/provisioners/ansible/cap/guest/arch/ansible_install_test.rb
  test/unit/plugins/provisioners/ansible/cap/guest/debian/ansible_install_test.rb
  test/unit/plugins/provisioners/ansible/cap/guest/freebsd/ansible_install_test.rb
  test/unit/plugins/provisioners/ansible/cap/guest/pip/pip_test.rb
  test/unit/plugins/provisioners/ansible/cap/guest/shared/pip_ansible_install_examples.rb
  test/unit/plugins/provisioners/ansible/cap/guest/suse/ansible_install_test.rb
  test/unit/plugins/provisioners/ansible/cap/guest/ubuntu/ansible_install_test.rb
Labels: bug, enhancement, provisioner/ansible_local
