Repository hashicorp/vagrant, pull requests merged in 2019-10, with the labels that each got.

#10548 ansible_ssh_host in the example is deprecated
  website/source/docs/provisioning/ansible_local.html.md
Labels: documentation, provisioner/ansible

#10938 virtualbox: Fix usability test to reject bad installs without crashing
  plugins/providers/virtualbox/provider.rb
  test/unit/plugins/providers/virtualbox/provider_test.rb
Labels: enhancement, pr/needs-tests, pr/reviewed, provider/virtualbox

#11100 Use hostnamectl instead of hostname to set the hostname under SUSE
  plugins/guests/suse/cap/change_host_name.rb
  test/unit/plugins/guests/suse/cap/change_host_name_test.rb
Labels: guest/suse

#11076 Update nfs & service daemon names for suse based hosts
  plugins/guests/suse/cap/nfs_client.rb
  plugins/hosts/suse/cap/nfs.rb
  test/unit/plugins/guests/suse/cap/nfs_client_test.rb
Labels: guest/suse, host/suse

#11117 docs: Add clarification about ansible.limit in static inventory usecase
  website/source/docs/provisioning/ansible_intro.html.md
Labels: documentation, provisioner/ansible
