Repository hashicorp/vagrant, pull requests merged in 2019-11, with the labels that each got.

#11170 explicitly test the hostname we'll be setting
  plugins/guests/suse/cap/change_host_name.rb
  test/unit/plugins/guests/suse/cap/change_host_name_test.rb
Labels: guest/suse

#11185 website - add -moz-osx-font-smoothing for smooth firefox osx fonts
  website/source/assets/stylesheets/_global.scss
Labels: website

#10991 Bump rspec-its dependency
  vagrant.gemspec
Labels: core, enhancement, thinking

#11181 Bump rubyzip to v1.3.0 to fix CVE-2019-16892
  vagrant.gemspec
Labels: core, waiting-reply

#11201 nfs: avoid adding extra newlines to /etc/exports
  plugins/hosts/linux/cap/nfs.rb
  test/unit/plugins/hosts/linux/cap/nfs_test.rb
Labels: synced-folders/nfs

#11205 Enhance docker build method for the Docker provider to include buildkit output
  plugins/providers/docker/driver.rb
  plugins/providers/docker/errors.rb
  plugins/providers/docker/executor/local.rb
  templates/locales/providers_docker.yml
  test/unit/plugins/providers/docker/driver_test.rb
Labels: enhancement, provider/docker

#11165 Introduce disk management base config layer to core Vagrant
  lib/vagrant/action.rb
  lib/vagrant/action/builtin/disk.rb
  lib/vagrant/util/numeric.rb
  plugins/kernel_v2/config/disk.rb
  plugins/kernel_v2/config/vm.rb
  plugins/providers/virtualbox/action.rb
  templates/locales/en.yml
  test/unit/plugins/kernel_v2/config/disk_test.rb
  test/unit/plugins/kernel_v2/config/vm_test.rb
  test/unit/vagrant/util/numeric_test.rb
  website/source/docs/disks/configuration.html.md
  website/source/docs/disks/index.html.md
  website/source/docs/disks/usage.html.md
  website/source/layouts/docs.erb
Labels: core, disks, enhancement
