Repository hashicorp/vagrant, pull requests merged in 2020-08, with the labels that each got.

#11717 Update childprocess to 4.0.0
  vagrant.gemspec
Labels: pr/dependency

#11621 Bump version of net-ssh to ~> 6.0 and net-sftp to ~> 3.0
  vagrant.gemspec
Labels: pr/dependency

#11014 hyper-v: add support for EnhancedSessionTransportType.
  plugins/providers/hyperv/action/configure.rb
  plugins/providers/hyperv/config.rb
  plugins/providers/hyperv/driver.rb
  plugins/providers/hyperv/scripts/set_enhanced_session_transport_type.ps1
  templates/locales/en.yml
  test/unit/plugins/providers/hyperv/action/configure_test.rb
  test/unit/plugins/providers/hyperv/config_test.rb
  website/pages/docs/providers/hyperv/configuration.mdx
Labels: enhancement, pr/needs-review, provider/hyperv

#11859 Remove not functional from disks warning
  website/pages/docs/disks/hyperv/index.mdx
  website/pages/docs/disks/hyperv/usage.mdx
  website/pages/docs/disks/index.mdx
  website/pages/docs/disks/usage.mdx
  website/pages/docs/disks/virtualbox/index.mdx
  website/pages/docs/disks/virtualbox/usage.mdx
Labels: website
