Repository hashicorp/vagrant, pull requests merged in 2022-10, with the labels that each got.

#12924 Docs Updates to Follow Style Guides.
  website/content/docs/installation/index.mdx
  website/content/docs/installation/upgrading.mdx
Labels: documentation, backport/website

#12941 website: upgrade next version
  website/package-lock.json
  website/package.json
Labels: website

#12938 Add docs for 'allowed_synced_folder_types' setting
  website/content/docs/vagrantfile/machine_settings.mdx
Labels: backport/website

#12969 chore: Update Digital Team Files
  website/Makefile
  website/scripts/should-build.sh
  website/scripts/website-build.sh
  website/scripts/website-start.sh
Labels: website, backport/website

#12951 Redirect the Hyper-V URL to the official Microsoft Hyper-V Doc
  website/content/docs/providers/index.mdx
Labels: backport/website

#12976 Clarify using 'vagrant up name' must be run from within a Vagrant project
  website/content/docs/cli/up.mdx
Labels: backport/website
