Repository hashicorp/vagrant, pull requests merged in 2022-09, with the labels that each got.

#12890 Add new config
  .github/ISSUE_TEMPLATE/config.yml
Labels: task-small

#12876 Pass in echo/secret ui input setting
  go.mod
  go.sum
  lib/vagrant/ui/remote.rb
  plugins/commands/serve/client/terminal.rb
  plugins/synced_folders/smb/cap/mount_options.rb
  test/unit/plugins/synced_folders/smb/caps/mount_options_test.rb
Labels: vagrant-go

#12901 content: link updates for dev portal
  website/content/docs/boxes/base.mdx
  website/content/docs/boxes/format.mdx
  website/content/docs/boxes/versioning.mdx
  website/content/docs/cli/cloud.mdx
  website/content/docs/cli/login.mdx
  website/content/docs/cli/non-primary.mdx
  website/content/docs/cli/plugin.mdx
  website/content/docs/providers/docker/index.mdx
  website/content/docs/providers/vmware/vagrant-vmware-utility.mdx
  website/content/docs/provisioning/docker.mdx
  website/content/docs/vagrantfile/machine_settings.mdx
  website/content/vagrant-cloud/boxes/create.mdx
  website/content/vagrant-cloud/boxes/distributing.mdx
  website/content/vagrant-cloud/boxes/index.mdx
  website/content/vagrant-cloud/boxes/release-workflow.mdx
  website/content/vagrant-cloud/index.mdx
  website/content/vagrant-cloud/organizations/authentication-policy.mdx
  website/content/vagrant-cloud/support.mdx
  website/content/vagrant-cloud/users/index.mdx
  website/data/docs-nav-data.json
  website/data/intro-nav-data.json
Labels: website

#12638 Support Ruby 3.1
  .github/workflows/testing.yml
  vagrant.gemspec
Labels: enhancement, core

#12896 Bug Report Template Updates
  .github/ISSUE_TEMPLATE/bug-report.md
Labels: task-small

#12912 Devdot updates
  website/content/docs/providers/docker/configuration.mdx
  website/data/vagrant-cloud-nav-data.json
Labels: documentation, task-small, backport/website

#12910 Update NFS exports usage
  plugins/hosts/linux/cap/nfs.rb
  test/unit/plugins/hosts/linux/cap/nfs_test.rb
  website/content/docs/synced-folders/nfs.mdx
Labels: synced-folders/nfs
